---
const { dato, dag, tidspunkt, sted, location, farve } = Astro.props;
---

<article class={farve}>
  <div class="top">
    <div class="wrapper">
      <h3>{dato}</h3>
      <h6 class="dag">{dag}</h6>
    </div>
  </div>

  <h6 class="sted">{location}</h6>
  <h4>{sted}</h4>
  <h5 class="tid">{tidspunkt}</h5>
</article>
<style>
  article {
    display: flex;
    flex-direction: column;
  }

  h4 {
    max-width: 15ch;
  }

  h6,
  h4 {
    padding-bottom: var(--space-2xs);
  }
  .top::after {
    content: "";
    display: block;
    margin-top: var(--space-2xs);
    height: 3px;
    top: 5px;
    transition: all 0.3s;
    width: 200px;
  }

  .lightYellow .top::after {
    background-color: var(--yellow-light);
  }
  .lightRed .top::after {
    background-color: var(--red-light);
  }

  .lightBlue .top::after {
    background-color: var(--blue-light);
  }

  .lightGreen .top::after {
    background-color: var(--green-light);
  }

  .lightPink .top::after {
    background-color: var(--pink-light);
  }

  h5.tid {
    font-weight: var(--font-weight-light);
    font-stretch: unset;
  }
  h6.sted {
    padding-top: var(--space-xl);
    font-weight: var(--font-weight-light);
    letter-spacing: var(--letter-spacing-sted);
  }
  .dag {
    padding-left: var(--space-2xs);
    font-weight: var(--font-weight-light);
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
</style>
