---
const { Dato, dag, tidspunkt, sted } = Astro.props;
---

<div class="top">
  <h3>{Dato}</h3>
  <h6 class="dag">{dag}</h6>
</div>

<h6 class="sted">{sted}</h6>
<h4>{sted}</h4>
<h5 id="tidspunkt">{tidspunkt}</h5>

<style>
  .dag::after {
    content: "";
    display: block;
    margin-top: var(--space-2xs);
    height: 3px;
    top: 5px;
    background-color: var(--yellow);
    transition: all 0.3s;
    width: 200px;
  }

  .sted {
    padding-top: var(--space-xl);
  }
  #tidspunkt h5 {
    font-weight: var(--font-weight-light);
  }
  h6 {
    font-weight: var(--font-weight-light);
  }
  .top {
    display: flex;
    align-items: flex-start;
  }
</style>
