---
const { Dato, dag, tidspunkt, sted } = Astro.props;
---

<h3>{Dato}</h3>
<h6 class="dag">{dag}</h6>
<h6>{sted}</h6>
<h4>{sted}</h4>
<h5>{tidspunkt}</h5>

<style>
  .dag::after {
    content: "";
    display: block;
    margin-top: var(--space-2xs);
    height: 3px;
    top: 5px;
    background-color: var(--yellow);
    transition: all 0.3s;
    width: 200px;
  }
</style>
