---
import NavPunkt from "./Nav_punkt.astro";
import Kurv from "./Kurv.astro";
import BurgermenuIcon from "./BurgermenuIcon.astro";
---

<header>
  <nav class="">
    <div class="logo_header"><img src="/logo.svg" alt="" /></div>
    <div class="nav_content_wrapper">
      <div class="kurvIcon">
        <Kurv />
      </div>
      <div class="burgermenuIcon">
        <BurgermenuIcon />
      </div>

      <div class="nav_content hide">
        <div class="dropdown">
          <NavPunkt
            punkt="Til virksomheder"
            underline="lightyellow"
            href="#"
            dropdown={true}
          />
          <div class="dropdown_content">
            <NavPunkt
              punkt="Workshop"
              underline="green"
              href="workshop"
              dropdown={false}
            />
            <NavPunkt
              punkt="Rådgivning"
              underline="lightblue"
              href="raadgivning"
              dropdown={false}
            />
          </div>
        </div>

        <div class="dropdown">
          <NavPunkt
            punkt="Om os"
            underline="red"
            href="componentsite"
            dropdown={true}
          />
          <div class="dropdown_content">
            <NavPunkt
              punkt="Teamet bag"
              underline="yellow"
              href="teamet-bag"
              dropdown={false}
            />
            <NavPunkt
              punkt="Cirkulær økonomi"
              underline="darkpink"
              href="cirkulaeroekonomi"
              dropdown={false}
            />

            <NavPunkt
              punkt="Forhandler"
              underline="darkgreen"
              href="forhandler"
              dropdown={false}
            />
          </div>
        </div>

        <NavPunkt
          punkt="Kontakt"
          underline="darkblue"
          href="kontakt"
          dropdown={false}
        />

        <div class="dropdown">
          <NavPunkt
            punkt="Shop"
            underline="lightgreen"
            href="#"
            dropdown={true}
          />
          <div class="dropdown_content">
            <NavPunkt
              punkt="Køb produkter"
              underline="lightblue"
              href="produkter"
              dropdown={false}
            />
            <NavPunkt
              punkt="Special ordre"
              underline="darkpink"
              href="special-ordre"
              dropdown={false}
            />
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="nav_content_burger hide">
    <div class="dropdown">
      <NavPunkt
        punkt="Til virksomheder"
        underline="yellow"
        href="#"
        dropdown={true}
      />
      <div class="dropdown_content">
        <NavPunkt
          punkt="Workshop"
          underline="red"
          href="workshop"
          dropdown={false}
        />
        <NavPunkt
          punkt="Rådgivning"
          underline="blueLight"
          href="raadgivning"
          dropdown={false}
        />

        <NavPunkt
          punkt="Projekter"
          underline="greenDark"
          href="projekter"
          dropdown={false}
        />
      </div>
    </div>

    <div class="dropdown">
      <NavPunkt
        punkt="Om os"
        underline="green"
        href="componentsite"
        dropdown={true}
      />
      <div class="dropdown_content">
        <NavPunkt
          punkt="Workshop"
          underline="red"
          href="workshop"
          dropdown={false}
        />
        <NavPunkt
          punkt="Rådgivning"
          underline="blueLight"
          href="raadgivning"
          dropdown={false}
        />

        <NavPunkt
          punkt="Projekter"
          underline="greenDark"
          href="projekter"
          dropdown={false}
        />
      </div>
    </div>

    <NavPunkt punkt="Kontakt" underline="red" href="#" dropdown={false} />

    <div class="dropdown">
      <NavPunkt punkt="Shop" underline="blue" href="#" dropdown={true} />
      <div class="dropdown_content">
        <NavPunkt
          punkt="Workshop"
          underline="red"
          href="workshop"
          dropdown={false}
        />
        <NavPunkt
          punkt="Rådgivning"
          underline="blueLight"
          href="raadgivning"
          dropdown={false}
        />

        <NavPunkt
          punkt="Projekter"
          underline="greenDark"
          href="projekter"
          dropdown={false}
        />
      </div>
    </div>
  </div>
</header>

<script>
  document
    .querySelector(".burgermenuIcon")
    .addEventListener("click", showBurgerContent);
  function showBurgerContent() {
    console.log("der klikkes");
    document.querySelector(".nav_content_burger ").classList.toggle("hide");
  }
</script>

<style>
  header {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    padding: var(--space-xl) var(--space-m) var(--space-m) 0;
  }
  .logo_header {
    width: 50%;
  }

  .nav_content_wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--space-l);
  }

  .nav_content_burger {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: var(--space-3xl);
    gap: var(--space-l);
    height: 84vh;
    width: 100%;
  }

  .nav_content_burger a {
    justify-content: flex-end;
    align-items: flex-end;
  }

  .hide {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .dropdown {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: var(--space-m);
    height: fit-content;
  }
  .dropdown_content {
    display: none;
  }

  .dropdown:hover .dropdown_content {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: var(--space-s);
  }

  @media (min-width: 810px) {
    header {
      position: sticky;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: var(--space-xl) 3.75rem var(--space-m) 0;
    }
    nav {
      justify-content: space-between;
      gap: var(--space-l);
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: var(--space-m);
    }
    .logo_header {
      width: auto;
    }
    .nav_content_wrapper {
      display: flex;
      flex-direction: row;
      gap: var(--space-l);
    }

    .burgermenuIcon {
      display: none;
    }

    .nav_content {
      display: flex;
      flex-direction: row;
      gap: var(--space-l);
      height: auto;
      padding-bottom: unset;
      align-items: flex-start;
    }

    .kurvIcon {
      order: 2;
    }
  }
</style>
