---
import NavPunkt from "./Nav_punkt.astro";
import Kurv from "./Kurv.astro";
---

<header>
  <div class="iconer_nav_wrapper">
    <a class="logo_header" href="index"><img src="/logo.svg" alt="" /></a>
    <div class="kurvIcon">
      <Kurv />
    </div>
    <div class="burgermenuIcon">
      <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5 16H27"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M5 7.99951H27"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M5 23.9995H27"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </div>
    <nav class="hide">
      <ul>
        <li class="dropdown">
          <NavPunkt
            punkt="Til virksomheder"
            underline="lightyellow"
            dropdown={true}
          />
          <ul class="dropdown-menu">
            <li>
              <NavPunkt
                punkt="Workshop"
                underline="green"
                href="workshop"
                dropdown={false}
              />
            </li>
            <li>
              <NavPunkt
                punkt="Rådgivning"
                underline="lightblue"
                href="raadgivning"
                dropdown={false}
              />
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <NavPunkt punkt="Om os" underline="red" dropdown={true} />
          <ul class="dropdown-menu">
            <li>
              <NavPunkt
                punkt="Teamet bag"
                underline="yellow"
                href="teamet-bag"
                dropdown={false}
              />
            </li>
            <li>
              <NavPunkt
                punkt="Cirkulær økonomi"
                underline="darkpink"
                href="cirkulaeroekonomi"
                dropdown={false}
              />
            </li>
            <li>
              <NavPunkt
                punkt="Forhandler"
                underline="green"
                href="forhandler"
                dropdown={false}
              />
            </li>
          </ul>
        </li>
        <li>
          <NavPunkt
            punkt="Kontakt"
            underline="darkblue"
            href="kontakt"
            dropdown={false}
          />
        </li>
        <li class="dropdown">
          <NavPunkt punkt="Shop" underline="lightgreen" dropdown={true} />
          <ul class="dropdown-menu">
            <li>
              <NavPunkt
                punkt="Køb produkter"
                underline="lightblue"
                href="produkter"
                dropdown={false}
              />
            </li>
            <li>
              <NavPunkt
                punkt="Special ordre"
                underline="darkpink"
                href="special-ordre"
                dropdown={false}
              />
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-xl) var(--space-l) var(--space-m) 0;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--bg-color);
  }
  .logo_header {
    width: 50%;
    margin-right: var(--space-7xl);
  }
  .iconer_nav_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: var(--space-s); */
  }

  nav {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
  }

  header nav ul {
    align-self: flex-end;
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: var(--space-m);
    gap: var(--space-l);
  }

  header nav ul li.dropdown:hover .dropdown-menu {
    display: flex;
  }

  header nav ul li.dropdown {
    position: relative;
    justify-self: flex-end;
  }

  header nav ul li .dropdown-menu {
    display: none;
    /* position: absolute; */
    /* top: 100%; */
    right: 0;
    z-index: 1;
    padding: var(--space-s) var(--space-m);
    background-color: var(--bg-color);
    min-width: 160px;
    align-items: flex-end;
    flex-direction: column;
    gap: var(--space-s);
  }

  header nav ul li .dropdown-menu li {
    white-space: nowrap;
  }

  header nav ul li .dropdown-menu li a {
    display: block;
  }
  .hide {
    display: none;
  }

  svg {
    width: 32px;
    stroke: var(--kurv-color);
  }
  svg:hover {
    stroke: var(--kurv-color-hover);
  }
  @media (min-width: 810px) {
    .logo_header {
      width: auto;
      margin-right: var(--space-7xl);
    }
    .iconer_nav_wrapper {
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    .burgermenuIcon {
      display: none;
    }

    nav {
      height: fit-content;
      width: fit-content;
      margin-left: var(--space-7xl);
    }

    nav ul {
      display: flex;
    }

    .kurvIcon {
      order: 2;
      margin-left: var(--space-l);
    }
    .hide {
      display: flex;
    }

    header nav ul {
      display: flex;
      list-style: none;
      flex-direction: row;
      padding-bottom: 0;
    }

    header nav ul li .dropdown-menu {
      display: none;
      position: absolute;
    }
  }
</style>

<script>
  document.querySelector(".burgermenuIcon").addEventListener("click", showNav);
  function showNav() {
    console.log("der klikkes på burgermenu icon");
    document.querySelector("nav").classList.toggle("hide");
  }
</script>
