---
const { img, navn, titel, beskrivelse, læsMere, mail } = Astro.props;
---

<article class="article_wrapper">
    <img src={img} alt="temaet bag">
    <div class="text_wrapper">
        <h3>{navn}</h3>
        <h6>{titel}</h6>
        <p>{beskrivelse}</p>
        <div>{læsMere}</div>
        <a href={mail}></a>
    </div>
</article>

<style>

    .article_wrapper {
        display: flex;
    }

    img {
    max-width: 550px;
    max-height: 580px;
    }
</style>