---
const { underside, img, farve, link } = Astro.props;
---

<a href={link}>
  <div class="card_wrapper">
    <img src={img} alt={underside} />
    <div class={`text_wrapper ${farve}`}><h4>{underside}</h4></div>
  </div>
</a>
<style>
  .card_wrapper {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: fit-content;
  }

  .card_wrapper img {
    object-fit: cover;
    width: 300px;
    height: 440px;
  }
  .text_wrapper {
    right: 0%;
    position: absolute;
    width: 257px;
    height: 62px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  div > h4 {
    text-transform: uppercase;
    color: var(--white);
  }

  .card_wrapper:hover .text_wrapper {
    width: 300px;
    height: 440px;
  }

  .blue {
    background-color: var(--blue);
  }

  .pink {
    background-color: var(--pink-dark);
  }

  .green {
    background-color: var(--green-dark);
  }

  .yellow {
    background-color: var(--yellow);
  }
</style>
