---
const { underside, img, farve } = Astro.props;
---

<a href={underside}
  ><div class="card_wrapper">
    <img src={img} alt={underside} />
    <div class={`text_wrapper ${farve}`}><h4>{underside}</h4></div>
  </div>
</a>
<style>
  .card_wrapper {
    display: flex;
    align-items: flex-end;
    position: relative;
    max-width: 300px;
    max-height: 440px;
    object-fit: cover;
  }
  .text_wrapper {
    right: 0%;
    position: absolute;
    z-index: 2;
    width: 257px;
    height: 62px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  div > h4 {
    text-transform: uppercase;
    color: var(--white);
  }

  .text_wrapper:hover {
    width: ;
    height: 62px;
  }

  .blue {
    background-color: var(--blue);
  }
</style>
