---
const { underside, img, farve, link, tekst, variant } = Astro.props;
---

<a data-variant={variant} href={link}>
  <div class="card_wrapper">
    <img src={img} alt={underside} />
    <div class={`text_wrapper ${farve}`}>
      <h4>{underside}</h4>
      <p>{tekst}</p>
    </div>
  </div>
</a>
<style>
  [data-variant="secondary"] .card_wrapper:hover .text_wrapper {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-left: var(--space-l);
    padding-bottom: var(--space-m);
    padding-right: var(--space-l);
    width: 244px;
    height: 420px;
  }
  p {
    color: var(--white);
    font-size: var(--step-0);
  }
  [data-variant="secondary"] .card_wrapper:hover p {
    display: block;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .card_wrapper p {
    display: none;
  }
  .card_wrapper {
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    position: relative;
    width: fit-content;
  }

  .card_wrapper img {
    object-fit: cover;
    width: 300px;
    height: 440px;
  }
  .text_wrapper {
    right: 0%;
    position: absolute;
    width: 257px;
    height: 62px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  div > h4 {
    text-transform: uppercase;
    color: var(--white);
  }

  .card_wrapper:hover .text_wrapper {
    width: 300px;
    height: 440px;
  }

  .blue {
    background-color: var(--blue);
  }

  .pink {
    background-color: var(--pink-dark);
  }

  .green {
    background-color: var(--green-dark);
  }

  .yellow {
    background-color: var(--yellow);
  }

  .red {
    background-color: var(--red);
  }
</style>
