---
const { img, produktnavn, prisfra, pris } = Astro.props;
import Button from "./Button.astro";
---
<div class="wrapper">
<article class="card_wrapper">
    <div class="container">
    <img src={img} alt={produktnavn}>
    <div class="overlay"></div>
    <div class="btn"><Button variant = "webshopCardButton" /></div>
</div>
    <div class="text_wrapper">
    <h3 class="produktnavn">{produktnavn}</h3>
    <div class="pris">
    <h6>{prisfra}</h6>
    <h5 >{pris}</h5>
</div>
</div>
</article>
</div>


<style>
.wrapper {
    display: flex;
}

   img {
    max-width: 450px;
    max-height: 645px;
   }

   .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .container:hover .btn {
    display: block;
}

.btn {
    position: absolute;
    display: none;
}

   img:hover {
   opacity: 50%;
   background-color: var(--color-greyscale-400:);
}

   .text_wrapper {
    display: grid;
    max-width: 450px;
    max-height: 645px;
   }

   .pris{
    display: flex;
    padding-top: var(--space-m);
    place-self: end;
    gap: var(--space-2xs);
   }

   .produktnavn {
    padding-top: var(--space-m);
   }
</style>