---
const { img, produktnavn, prisfra, pris, link } = Astro.props;
import Button from "./Button.astro";
---

<a href={link} class="wrapper">
  <article class="card_wrapper">
    <div class="container">
      <img src={img} alt={produktnavn} />
      <div class="overlay">
        <Button variant="tertiary" tekst="Se produkt" />
      </div>
    </div>
    <div class="text_wrapper">
      <h3 class="produktnavn">{produktnavn}</h3>
      <div class="pris">
        <h6>{prisfra}</h6>
        <h5>{pris}</h5>
      </div>
    </div>
  </article>
</a>

<style>
  .wrapper {
    display: flex;
  }

  img {
    max-width: 450px;
    max-height: 645px;
  }

  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--overlay);
  }
  .container:hover .overlay {
    display: flex;
  }

  .text_wrapper {
    display: grid;
    max-width: 450px;
    max-height: 645px;
  }

  .pris {
    display: flex;
    padding-top: var(--space-m);
    place-self: end;
    gap: var(--space-2xs);
  }

  .produktnavn {
    padding-top: var(--space-m);
  }
</style>
