---
const { img, produktnavn, pris } = Astro.props;
---

<div class="card_wrapper">
    <img src="{img}" alt="{produktnavn}">
    <h3>{produktnavn}</h3>
    <h3>{produktnavn}</h3>
    <h5>{pris}</h5>
</div>

<style>
   .card_wrapper {
    max-width: 550px;
    max-height: 745px;
   } 
</style>