---
const { img, produktnavn, pris } = Astro.props;
---
<div class="wrapper">
<article class="card_wrapper">
    <div class="container">
    <img src={img} alt={produktnavn}>
    <div class="overlay"></div>
</div>
    <div class="text_wrapper">
    <h3 class="produktnavn">{produktnavn}</h3>
    <h5 class="pris">{pris}</h5>
</div>
</article>

<div class="card_wrapper">
    <img src={img} alt={produktnavn}>
    <div class="text_wrapper">
    <h3 class="produktnavn">{produktnavn}</h3>
    <h5 class="pris">{pris}</h5>
</div>
</div>
</div>


<style>
.wrapper {
    display: flex;
    gap: 190px;
}

   img {
    max-width: 450px;
    max-height: 645px;
   }

   img:hover {
   opacity: 50%;
   background-color: var(--color-greyscale-400:);
}

   .text_wrapper {
    display: grid;
    max-width: 450px;
    max-height: 645px;
   }

   .pris{
    padding-top: var(--space-m);
    place-self: end;
   }

   .produktnavn {
    padding-top: var(--space-m);
   }
</style>