---
const { img, produktnavn, prisfra, pris, link } = Astro.props;
import Button from "./Button.astro";
---

<a href={link} class="wrapper">
  <article class="card_wrapper">
    <div class="container">
      <img src={img} alt={produktnavn} />
      <div class="overlay">
        <Button variant="overlay" tekst="Se produkt" />
      </div>
    </div>
    <div class="text_wrapper">
      <h4 class="produktnavn">{produktnavn}</h4>
      <div class="pris">
        <h6 class="prisFra">{prisfra}</h6>
        <h5>{pris}</h5>
      </div>
    </div>
  </article>
</a>

<style>
  .wrapper {
    display: flex;
  }

  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    max-width: 350px;
  }

  .overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--overlay);
  }
  .container:hover .overlay {
    display: flex;
  }

  .text_wrapper {
    display: grid;
    grid-auto-rows: 1fr;
  }

  .pris {
    display: flex;
    padding-top: var(--space-m);
    place-self: end;
    align-items: baseline;
    gap: var(--space-2xs);
  }

  .pris h5 {
    color: var(--text-color-dark);
  }

  .produktnavn {
    padding-top: var(--space-m);
  }
  .prisFra {
    font-weight: var(--font-weigth-light);
    color: var(--text-color-medium);
  }
</style>
