---
import AntalButton from "../components/AntalButton.astro";
import Dropdown from "../components/Dropdown.astro";
import Button from "../components/Button.astro";
import Streg from "../components/Streg.astro";
const { billede1, billede2, billede3, billede4, produktnavn, pris, info } =
  Astro.props;
---

<section class="section-grid">
  <div class="billedeGalleri">
    <img class="img1" src={billede1} alt="billede af stacks the lamp" />
    <div class="billedeGruppe">
      <img class="img2" src={billede2} alt="lampe1" />
      <img class="img3" src={billede3} alt="lampe2" />
      <img class="img4" src={billede4} alt="lampe3" />
    </div>
  </div>

  <div class="info">
    <div>
      <h2>{produktnavn}</h2>

      <div class="e-jura">
        <div class="flex">
          <h6>14 dages fuld returret</h6>
          <img class="check" src="/icons/Check.svg" alt="check_ikon" />
        </div>

        <div class="flex">
          <h6>Håndlavede produkter</h6>
          <img class="check" src="/icons/Check.svg" alt="check_ikon" />
        </div>
      </div>
    </div>
    <div class="antalPris">
      <AntalButton
        tal="1"
        tekst="Antal"
        icon_plus="/icons/plus.svg"
        icon_minus="/icons/minus.svg"
      />
      <h4>{pris}</h4>
    </div>
    <div class="drop">
      <Dropdown
        funktion="Farve"
        variant="primaryDropdown"
        option1="Dragonfruit drizzle"
        option2="Cloudy Peach"
        option3="Kiwi Currents"
        option4="Plum Puddles"
        option5="Blueberry Blizzard"
        option6="Mango Haze"
        option7="Papaya Rainbows"
      />
      <Dropdown
        funktion="Størrelse"
        variant="primaryDropdown"
        option1="lille"
        option2="stor"
      />
    </div>
    <div class="knap">
      <Button variant="secondary" tekst="Læg i kurv" />
    </div>
    <p class="produktInfomation">
      {info}
    </p>
  </div>

  <div class="levering">
    <div>
      <h5>Leveringstid</h5>
      <p>
        Alle vores produkter er håndlavede, hvilket betyder vi producerer
        produkterne løbende, når de bestilles. <br />

        Derfor vil der være ca 3-4 ugers levering, afhængig af størrelsen på
        ordren. <br />

        Hvis ordren haster, er i velkomne til at kontakte os, så skal vi prøve
        at få den ført igennem hurtigst muligt.
      </p>
    </div>
    <div class="streg_wrapper lodret"><Streg fill="var(--green-light)" /></div>

    <div>
      <h5>Leveringsomkostninger</h5>
      <p>
        Fragt koster 99 kroner i hele Danmark pr podie. Ved større bestillinger,
        kan i kontakte os, både for betaling via faktura og samlet fragt.
        <br /> Du kan også vælge at afhente gratis i vores butik på Nørrebro i København
        eller på vores værksted i Skovlunde.
      </p>
    </div>
  </div>

  <style>
    .billedeGalleri {
      grid-column: 1/5;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--space-l);
      margin-bottom: var(--space-l);
    }

    h2,
    .e-jura {
      padding: 0;
      margin: 0;
    }

    .flex {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--space-2xs);

      justify-content: space-between;
    }

    .img1 {
      grid-column: 1/6;
    }

    .billedeGruppe {
      grid-column: 1/6;
      display: flex;
      flex-direction: row;
      object-fit: cover;
      gap: var(--space-m);
    }

    .info {
      grid-column: 1/5;
      display: flex;
      flex-direction: column;
      gap: var(--space-m);
      justify-content: space-between;
      padding: 0 0 var(--space-xl) 0;
    }
    .check {
      width: var(--space-m);
      height: var(--space-m);
    }
    .e-jura {
      display: flex;
      align-items: center;
      gap: var(--space-l);
      padding-top: var(--space-s);
    }
    .knap button {
      display: flex;
      width: 100%;
    }

    .antalPris {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--space-2xs);
      align-items: flex-end;
      justify-content: space-between;
    }

    .drop {
      display: flex;
      flex-direction: column;
    }
    h6 {
      font-weight: var(--font-weight-light);
      color: var(--text-color-medium);
    }

    .levering {
      grid-column: 1/5;
      display: flex;
      flex-direction: column;
      gap: var(--space-l);
      margin-top: var(--space-7xl);
    }

    .levering h5 {
      margin-bottom: var(--space-xs);
    }

    .streg_wrapper {
      place-self: center;
    }

    @media (min-width: 810px) {
      .billedeGalleri {
        grid-column: 1/6;
      }
      .info {
        grid-column: 7/13;
      }

      .levering {
        flex-direction: row;
        grid-column: 1/12;
      }

      .drop {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--space-2xs);
        align-items: flex-end;
        justify-content: space-between;
      }
    }
  </style>
</section>
